@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css">
}

@section Scripts {
    <script src="~/js/login.js"></script>
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Eventos - SENAI</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div>
                <a  asp-controller="Home" asp-action="Index">
                <img class="logo_senai1" src="/img/Senai_logo_footer.png" />
                </a>
            </div>
            <div class="header-actions">
                <a href="#" class="header-icon"><i class="fa-solid fa-user-lock"></i></a>
                <a href="#" class="header-icon"><i class="fa-solid fa-bars"></i></a>
            </div>
        </div>
    </header>

    <main class="main-content">
        <img class="bg-image" src="~/img/Banner_background.png" alt="Background">
        <div class="login-card">
            <div>
                <img class="logo_senai1" src="~/img/Senai_logo_preto.png" /> 
            </div>
            <h2>Seja bem-vindo ao Portal de Eventos</h2>
            <p class="subtitle">Entre com seus dados para continuar</p>
            
            <form class="login-form">
                <div class="input-group">
                    <input type="text" placeholder="E-mail" required>
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Senha" required>
                </div>
                
                <div class="forgot-password">
                    <a href="#">Esqueceu sua senha?</a>
                </div>
                
                <button type="submit" class="btn-submit">ENTRAR</button>
            </form>
            
            <div class="card-footer">
                <span>Não tem uma conta? <a href="#">Cadastre-se aqui</a></span>
            </div>
        </div>
    </main>
</body>
</html>